<div *ngIf="data$ | async as data; else loading">
  <div class="w-full min-h-screen p-4 relative" *ngIf="data.vehicles.length > 0 && data.filters;else onError">
    <div>
      <app-filters [filterValues]="data.filters"></app-filters>
    </div>
    <div class="flex flex-wrap" [@fade]="data.vehicles.length">
      <div
        class="transition-all px-4 pt-4 w-full sm:w-full md:w-6/12 lg:w-6/12 xl:w-4/12 2xl:w-3/12"
        *ngFor="let vehicle of data.vehicles; trackBy: trackByVehicle">
        <app-card [vehicle]="vehicle"></app-card>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <div class="w-full h-screen flex justify-center items-center">
    <h2>Loading...</h2>
  </div>
</ng-template>
<ng-template #onError>
  <div class="w-full h-screen flex justify-center items-center">
    <button mat-button (click)="tryToRecconect()">Try Reconnect</button>
  </div>
</ng-template>
